body {
  margin:0;
}
header {
  color: white;
  background: #463524;
}
.menu li {
display: inline-block;

}
.menu {
display: inline-block;
}
.what h1 {
  color: white;
  background: #624e36;
  width: 270px;
}
.what p {
  color: white;
  background: #624e36;
  width: 410px;
}
.wrapper {
  width: 1200px;
  margin: auto;
}
.services .wrapper {
display: flex;
justify-content: space-between;
}
.services h2 {
  color: #95782d;
  text-align: center;
}
.service-block {
  display: inline-block;
  width: 352px;
  vertical-align: top;
  text-align: left;
}
.service-block ul {
  list-style-type: none;
  padding: 0;
}
.service-block img {
  width: 60px;
  height: 60px;
  float: left;
}
.service-block .text {
  overflow: hidden;
}
.service-block .text h3 {
  margin-top: 0;
}
.section {
  text-align: center;
}
.prices {
display: inline-block;
width: 568px;
text-align: left;
}
.about {
  background: #836744;
}
.about .wrapper {
  display: flex;
  justify-content: space-between;
}
.about-head {
  text-align: justify;
  width: 1200px;
  margin: auto;
}
.about-man {
display: inline-block;
width: 568px;
text-align: justify;
vertical-align: top;
}
.about h2 {
  color: #c7a457;
  text-align: center;
}
.about p {
  color: white;
}
.contacts {
  list-style-type: none;
  text-align: center;
  color: #c7a457;
}
.sertificates ul {
  background: #624e36;
  font-size: 13px;
  width: 568px;
  height: 78px;
}
.sertificates ul li {
  color: white;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  }
  .sertificates li {
    padding-top: 20px;
    padding-left: 103px;
    padding-bottom: 15px;
    background-image: url("img/ikona-sertif.png");
    background-repeat: no-repeat;
    background-position: 58px 20px;
    display: inline-block;
      }
.adress {
  background: #836744;
  text-align: center;
  color: #c7a457;
}
.adress ul {
    list-style-type: none;
}
.adress li.phone {
  color: #eacc8b;
}
