body {
  margin:0;
}
header {
  color: white;
  background: #463524;
}
.menu li {
display: inline-block;

}
.menu {
display: inline-block;
}
.what h1 {
  color: white;
  background: #624e36;
  width: 270px;
}
.what p {
  color: white;
  background: #624e36;
  width: 410px;
}
.services {
  text-align: center;
}
.services h2 {
  color: #95782d;
  text-align: center;
}
/*.service-block {
  display: inline-block;
  width: 325px;
  vertical-align: top;
  text-align: left;
}
.service-block2 img {
display: inline-block;
width: 60px;

}
.service-block2 {
  display: inline-block;
  width: 325px;
  vertical-align: top;
  text-align: left;
}
.service-block ul {
  list-style-type: none;
  padding: 0;
}
.service-block img {
  width: 60px;
  height: 60px;
}*/
.section {
  text-align: center;
}
.prices {
display: inline-block;
width: 568px;
margin: 0 64px;
text-align: left;
}
.about {
  background: #836744;
}
.about-head {
  text-align: center;
  width: 1200px;
}
.about-head p {
  text-align: justify;
  margin: 0 98px;
}
.about-man {
display: inline-block;
width: 568px;
margin: 0 64px;
text-align: justify;
vertical-align: top;
}
.about h2 {
  color: #c7a457;
  text-align: center;
}
.about p {
  color: white;
}
.contacts {
  list-style-type: none;
  text-align: center;
  color: #c7a457;
}
.sertificates ul li {
  color: white;
  background: #624e36;
  list-style-type: none;
}
.adress {
  background: #836744;
  text-align: center;
  color: #c7a457;
}
.adress ul {
    list-style-type: none;
}
.adress li.phone {
  color: #eacc8b;
}
